* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.popup {
    width: 500px;
    height: 220px;
    border: 2px solid orangered;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(255, 68, 0, 0.568)
}

.popup div {
    margin: 20px;
    max-width: 100%;
}

.popup .content {
    text-align: center;
}

.popup .title-bar{
    text-align: center;
}
.title::before {
    content: "ERREUR";
    color:white;
    font-weight: 700;
    font-size: xx-large;
    animation: blink 500ms linear infinite;
}

.validation {
    display: flex;
    justify-content: center;
}

.ok {
    border-radius: 5px;
    border: 2px solid orangered;
    padding: 10px 30px 10px 30px;
    background-color: white;
    font-size: medium;     
}

.ok:hover {
    background-color: orangered;
    color: white;
  }


@keyframes blink {
    50% {
        color: orangered
    }

    100% {
        visibility: hidden;
    } 
}