@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes colour {
    0% {
        border-top:17px solid magenta
    }

    50% {
        border-top:17px solid orangered
    }

    75% {
        border-top:17px solid yellow
    }

    100% {
        border-top:17px solid magenta
        
    }
}


.title {
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
}
.centering{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.loader{
    position:absolute;
    width:100px;
    height: 100px;
    border-radius: 100px;
    animation: spin 1000ms linear infinite, colour 1000ms linear infinite
   
}

.loader-small {
    position:absolute;
    width:50px;
    height: 50px;
    border-radius: 25px;
    animation: spin reverse 1000ms linear infinite, colour 1000ms linear infinite
}
















